<body class="user_show_page">
  
<p></p>
<div><a style="float:right;margin-top: 50px;" href="/">Home</a></div>

<h3>Hey, <%= @user.first_name %>....</h3>
<br />

<img style="width: 150px; height: 150px;" src="<%= @user.image %>" alt="">
<br />

<h4>Email: <%= @user.email %></h4>
<br />

<h3>Keywords saved:</h3>
<ul>

<% @user.keywords.each do |keyword| %>
  <li style="float:left;"><%= keyword.keyword.capitalize %></li>
<%= form_tag "/keywords/#{keyword.id}", method: :delete do %>
    <button style="border:none;background: white;"><span style="float:left; background: white;margin-left: 15px;" class="glyphicon glyphicon-trash"></span></button>
  <% end %>
<% end %>
</ul>

<br />

<h3>Articles Favorited:</h3>
<div class="row">
  <% @user.favorites.each do |favorite| %>
    <div class="col-md-4">
      <div class="well" id="user-favorites">
        <a href="<%= favorite.url %>"><img style="width: 100%;" src="<%= favorite.image %>" alt=""></a>
        <h4><%= favorite.title %></h4>
          <%= form_tag "/favorites/#{favorite.id}", method: :delete do %>
            <input type="submit" value="Remove Favorite">
          <% end %>
      </div>
    </div>
  <% end %>
</div>
<p></p>

<h3>Sources Saved:</h3>
<div class="row">
  <% @user.sources.each do |source| %>
    <div class="col-md-3">
      <div class="well" id="user-sources">
        <img style="width: 100%;" src="<%= source.image %>" alt="">
        <h4><%= source.source %></h4>
      </div>
    </div>
  <% end %>
</div>





</body>

