<p></p>
<div><a class="btn btn-default" href="/">Home</a></div>

<p></p>

<h1>Profile:</h1>

<h3>Hey, <%= @user.first_name %>....</h3>

<img src="<%= @user.image %>" alt="">
<p></p>

<h4>Email: <%= @user.email %></h4>

<p></p>

<h3>Sources Saved:</h3>

<% @user.sources.each do |source| %>
<h4><%= source.source %></h4>
<% end %>

<h3>Favorite Articles Saved:</h3>

<% @user.favorites.each do |favorite| %>
  <a href="<%= favorite.url %>"><%= favorite.url %></a>
  <%= form_tag "/favorites/#{favorite.id}", method: :delete do %>
    <input type="submit" value="Remove Favorite">
  <% end %>
<% end %>


<h3>Keywords Saved:</h3>

<% @user.keywords.each do |keyword| %>
<h4><%= keyword.keyword %></h4>
<% end %>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
